@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 0px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f6caa8;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #7c14bd;
    border-radius: 1px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #740895;
}

.box1{
    box-shadow: rgba(53, 40, 32, 0.884) 0px 60px 40px -7px;
}

.font-link{
    font-family: 'Montserrat', sans-serif;
}
.singUpbtn{
    width: full;
}